
@model ICollection<PCHUBStore.View.Models.ProductViewModel>

<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-12 col-md-6 laptopsJs" style="background-color:white; border: solid; border-width: 2px; border-color: white">
            <div style="width: inherit" class="text-center">
                <a href="@product.ProductAdvancedDetailsUrl" style="text-decoration:none; width: inherit; font-size: 17px; color:black" class="text-center">
                    <img style="width: 15em; height: 5cm" src="@product.PictureUrl" alt="Alternate Text" />
                </a>
            </div>
            <div class="text-center m-2" style="word-break: break-all; color: black; font-size: 30px; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: darkslateblue">
                @product.Price лв
            </div>
            <div style="border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: red" class="text-center">
                <a href="@product.ProductAdvancedDetailsUrl" style="text-decoration:none; font-size: 17px; color:black" class="text-center m-2">
                    @product.Title ...
                </a>
            </div>
            <ul class="justify-content-center align-items-center productsViewStyle" style="margin-top: 20px">
                @foreach (var feature in product.BasicCharacteristics)
                {
                    <li style="list-style-image: url('/img/listLI.png'); word-break: break-all">@feature</li>
                }

            </ul>

            <div class="container" style="visibility: hidden">
                <div class="row">
                    <img src="~/img/shoppingCart.png" style="width: 50px; height: 50px;" alt="Alternate Text" />
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-info" role="button" asp-controller="ShoppingCart" asp-action="BuyProduct">Add To Cart</a>
                    }
                    else
                    {
                        <a class="btn btn-info" role="button" asp-controller="ShoppingCart" asp-action="BuyProductAnonymous">Add To Cart</a>
                    }
                </div>

            </div>

        </div>
    }



</div>