@model PCHUBStore.View.Models.ProductFullCharacteristicsViewModel

@{
    ViewData["Title"] = "Laptop " + Model.Model;
}

<!-- Basic Desctiption for the laptop -->

<div class="row" style="margin-left: 3em; margin-right:3em; margin-top: 75px">
    <div class="col-lg-8 col-sm-12">
        <div class="row text-center">
            <div id="mainPicture" class="col-lg-8 col-sm-12" style="border-bottom: solid; border-bottom-color: darkslateblue; border-bottom-width: 2px; margin-bottom: 10px; display:inline-block; position: relative">
                <img src="@Model.MainPicture" alt="Main Picture" style="max-width: 30em; max-height:30em;  margin-bottom: 7px;" />
            </div>
            <div class="row text-center" style="background-color: white">
                @foreach (var pic in Model.Pictures)
                {
                    <div class="col-3 miniPictures" style="border: solid; border-color: white; border-width: 1px;">
                        <img src="@pic" alt="Description Pictures" style="width: inherit; max-height: 10em" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12" style="background-color: white">
        <div class="container">
            <h3 style="color: black; ">@Model.Title</h3>
            <div class="row text-center">
                <div class="col-6">
                    <span>Article Number: @Model.ArticleNumber</span>
                </div>
                <div class="col-6">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <img src="~/img/favorite.png" id="favoriteImg" alt="Add To Favorite" />
                        <button class="btn btn-success" value="@Model.Id" id="addToFavorites">Add to Favorites</button>
                        <p class="bg-danger" style="color: black" id="messageParagraph">

                        </p>
                    }
                </div>
            </div>
            <div class="row" style="margin-top: 10px; border-top: solid; border-color: greenyellow">
                <div class="col">
                    <span style="color: red; font-size: 30px">@Model.Price lv</span>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-info" role="button" asp-controller="ShoppingCart" asp-action="ReviewCart">Add To Cart</a>
                    }
                    else
                    {
                        <a class="btn btn-info" role="button" asp-controller="ShoppingCart" asp-action="BuyProductAnonymous">Add To Cart</a>
                    }
                </div>
                <div class="col" style="border-bottom: solid; border-bottom-color: greenyellow;">
                    <span>Product Availability</span>
                    <img src="~/img/productAvailable.png" alt="Alternate Text" />
                </div>
            </div>
            <div class="row" style="margin-top: 10px; border-top: solid; border-color: greenyellow">
                <ul class="justify-content-center align-items-center" style="margin-top: 20px">
                    @foreach (var feature in Model.BasicDetails)
                    {
                        <li style="list-style-image: url('/img/listLI.png'); word-break: break-all; color: black">@feature</li>
                    }
                </ul>
            </div>

            @if (Model.SimilarProducts.Count > 0)
            {
                <p style="color: black; font-size: 30px">Similar Products</p>
                <div class="row ml-3">

                    @foreach (var similarLaptop in Model.SimilarProducts)
                    {
                        <div class="col-3 text-center m-1" style="border:solid; border-width: 1px; border-color: orangered">
                            <p>@similarLaptop.Model</p>
                            <a style="width: inherit" href="/Products/@Model.Category/@similarLaptop.Url">
                                <img src="@similarLaptop.MainPicture" alt="Alternate Text" style="width: inherit" />
                            </a>
                            <p>@similarLaptop.Price lv</p>
                        </div>
                    }

                </div>
            }

        </div>
    </div>
</div>
<div style="margin-left: 3em; margin-right:3em; margin-top: 75px; border-top: solid; border-top-width: 1px; border-top-color: darkslateblue">
    <h1 style="color: black">Advanced Details</h1>
    <p>@Model.Title</p>
</div>
<!-- Advanced Details for the laptop or product depends what will happen with the generic templates will they fit and shit -->

<div class="row" style="background-color: white; margin-left: 3em; margin-right: 3em;">
    @foreach (var advancedDetails in Model.AdvancedDetails)
    {
        <div class="col-12" style="margin-bottom: 10px; color: black">
            <div class="row">
                <div class="col-3 text-right" style="border-bottom: solid; border-bottom-color: orangered; border-bottom-width: 1px">
                    <span>@advancedDetails.Key</span>
                </div>
                <div class="col-9">
                    <span>@advancedDetails.Value</span>
                </div>
            </div>
        </div>
    }
</div>






@section Scripts {
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="~/js/zoom/jquery.zoom.js"></script>
    <script type="text/javascript" src="~/js/laptopPage.js"></script>
}
