@model PCHUBStore.Areas.Administration.Models.CreateAdminViewModels.RegisterNewAdminViewModel

@{
    ViewData["Title"] = "Create New Admin Account";
}


<div class="container text-center">

 

        <!-- Nested Row within Card Body -->

            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create New Admin Account!</h1>
            </div>
            <form method="post" class="text-center">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Username"></label>
                    <input asp-for="@Model.Username" class="form-control" />
                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ConfirmPassword"></label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create New Admin Account</button>
            </form>


</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
