@model List<PCHUBStore.View.Models.ShoppingCartViewModels.ReviewCartViewModel>

@{
    ViewData["Title"] = "Cart ";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" style="color: black">Shopping Cart</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {

                            var product = Model[i];
                            <tr>
                                <td><img style="max-height: 3em; max-width: 3em" src="@product.PictureUrl" /> </td>
                                <td>
                                    <a href="@product.ProductUrl">@string.Join("", product.Title.Take(50))</a>
                                </td>
                                <td>In stock</td>
                                <td>
                                    <input id="quantity" class="form-control quantity" type="number" asp-for="@product.Quantity" />
                                    <a asp-action="IncreaseProductQuantity" asp-controller="ShoppingCart" asp-route-id="@product.Id"></a>

                                </td>
                                <td class="text-right">@product.Price €</td>
                                <td class="text-right"><a asp-action="ExcludeProduct" asp-controller="ShoppingCart" asp-route-id="@product.Id" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a> </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">@Model.Sum(x => x.Price * x.Quantity) €</td>
                        </tr>
                        @if (Model.Sum(x => x.Price * x.Quantity) < 100)
                        {

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Shipping</td>
                                <td class="text-right">6,90 €</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>@Model.Sum(x => x.Price * x.Quantity) + 6.90 €</strong></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>@Model.Sum(x => x.Price * x.Quantity) €</strong></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="/Home/Index" class="btn btn-block btn-light">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="~/js/shoppingCart.js"></script>
}